main {
   height: 600px;
   width: 1100px;
   margin: auto;
}
header{
   background-image: url(fondo.jpg);
   height: 200px;
   width: 1100;
}
nav{
   background-color: rgb(133, 105, 133);
   height: 60px;
   width: 1100;
   margin-bottom: 10px;
}
section{
   border: 1px solid Blue;
   height: 360px;
   width: 1100px;
   margin: auto;
}
footer{
   border: 1px solid green;
   height: 80px;
   width: 1100px;
   margin: auto;
}
aside{
   border: 1px solid black;
   height: 300px;
   width: 400px;
   align-self: right;
}
section aside{
  margin-bottom: 50px;
}

article{
   border: 1px solid orangered;
   height: 150px;
   width:600px ;
   float: left;
}
section article{
   margin: 15px 0px 15px 0px;
}
Ul li{
   margin-right:150px;
   float: left;
   font-size: 22px;
}
header img{
   height: 100px;
   width: 100px;
}